<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.alveus.awsliveliness_tech.aws_liveliness">
  <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity
            android:name=".LivenessActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
